* text=auto eol=lf
*.png binary
*.jpg binary
*.pdf binary
spec/api/openapi.yaml linguist-generated=false
spec/pro/openapi.yaml linguist-generated=false
packages/python/src/xberg_io_sdk/_generated_api/** linguist-generated=true
packages/python/src/xberg_io_sdk/_generated_pro/** linguist-generated=true
packages/typescript/src/_generated/** linguist-generated=true
packages/go/generated_api.go linguist-generated=true
packages/go/generated_pro.go linguist-generated=true
