openapi: 3.1.0
info:
  title: Xberg Enterprise API
  description: Cloud document extraction API powered by Xberg. Supports asynchronous extraction with webhook delivery.
  contact:
    name: Xberg Enterprise
    url: https://example.com
    email: contact@xberg.io
  license:
    name: BUSL-1.1
  version: 1.0.0
servers:
  - url: https://api.xberg.io
    description: Production API
  - url: https://api.staging.enterprise.xberg.io
    description: Staging API
paths:
  /healthz:
    get:
      tags:
        - health
      summary: Check service liveness
      operationId: healthz
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiHealthResponse'
              example:
                status: ok
                tier: enterprise
                auto_tune:
                  enabled: true
      security: []
  /readyz:
    get:
      tags:
        - health
      summary: Check service readiness
      operationId: readyz
      responses:
        "200":
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
              example:
                status: ready
                checks:
                  database: ok
                  nats: ok
        "503":
          description: Service is not ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadinessResponse'
      security: []
  /v1/audit:
    get:
      tags:
        - audit
      summary: List audit log entries for the caller's project
      operationId: list_audit_entries
      parameters:
        - name: action
          in: query
          description: Filter to entries matching this action exactly (e.g. `"job.submit"`).
          required: false
          schema:
            type:
              - string
              - "null"
        - name: limit
          in: query
          description: Page size (default 50, max 100).
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int64
        - name: offset
          in: query
          description: Pagination offset (default 0).
          required: false
          schema:
            type:
              - integer
              - "null"
            format: int64
      responses:
        "200":
          description: Audit entries listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditEntriesResponse'
        "400":
          description: Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune:
    get:
      tags:
        - auto-tune
      summary: List auto-tune jobs
      operationId: list_auto_tune_jobs
      parameters:
        - name: limit
          in: query
          description: Page size (default 50, clamped to 1-100)
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          description: Pagination offset (default 0)
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Auto-tune jobs for the current project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAutoTuneJobsResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    post:
      tags:
        - auto-tune
      summary: Submit a new auto-tune job
      description: |-
        Accepts `multipart/form-data`: a `request` text part carrying a
        JSON-encoded [`CreateAutoTuneJobRequest`], plus one binary part per
        document referenced by `documents[].filename`.
      operationId: submit_auto_tune
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AutoTuneMultipartForm'
        required: true
      responses:
        "201":
          description: Auto-tune job created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAutoTuneJobResponse'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Auto-tune entitlement/quota exceeded or per-project active-job cap reached
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence or dispatch error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/capabilities:
    get:
      tags:
        - auto-tune
      summary: Get auto-tune capabilities (OCR backends and tunable knobs) for this deployment
      description: |-
        Requires the same auth as its sibling endpoints even though the response itself is
        project-agnostic, so it sits behind the same access boundary as the rest of the surface.
      operationId: get_auto_tune_capabilities
      responses:
        "200":
          description: Auto-tune capabilities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoTuneCapabilitiesResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/{id}:
    get:
      tags:
        - auto-tune
      summary: Get auto-tune job status
      operationId: get_auto_tune_status
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Auto-tune job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoTuneJobStatus'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    delete:
      tags:
        - auto-tune
      summary: Delete an auto-tune job
      operationId: delete_auto_tune_job
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Auto-tune job deleted
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Job is still running and cannot be deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/{id}/promote:
    post:
      tags:
        - auto-tune
      summary: Promote an auto-tune result to a tuning profile
      operationId: promote_auto_tune_profile
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PromoteProfileRequest'
        required: true
      responses:
        "201":
          description: Tuning profile created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuningProfileDetail'
        "400":
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Job exists but has not completed (or has failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/auto-tune/{id}/result:
    get:
      tags:
        - auto-tune
      summary: Get auto-tune job result
      operationId: get_auto_tune_result
      parameters:
        - name: id
          in: path
          description: Auto-tune job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Auto-tune job result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutoTuneResult'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "409":
          description: Job exists but has not completed (or has failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/documents/{document_id}:
    get:
      tags:
        - documents
      summary: Get the latest version of a document with its extraction result.
      operationId: get_latest
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Latest version with extraction result
          content:
            application/json:
              schema: {}
        "400":
          description: Invalid document ID
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
        "404":
          description: Document not found
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/diff:
    get:
      tags:
        - documents
      summary: Compute diff between two versions (sync with async fallback on budget exceeded).
      operationId: get_diff
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          description: Source version (sequence integer or job UUID)
          required: true
          schema:
            type: string
        - name: to
          in: query
          description: Target version (sequence integer or job UUID)
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Diff computed inline
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffResponse'
        "202":
          description: Diff queued for async computation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffAsyncAccepted'
        "400":
          description: Invalid parameters
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Version not found
          content:
            application/json:
              schema: {}
        "422":
          description: Async diff failed
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/diff/{diff_job_id}:
    get:
      tags:
        - documents
      summary: Poll the status of an async diff job.
      operationId: poll_diff
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
        - name: diff_job_id
          in: path
          description: Async diff job ID returned by the 202 fallback
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Diff result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffResponse'
        "202":
          description: Diff still pending
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DiffAsyncAccepted'
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Diff job not found
          content:
            application/json:
              schema: {}
        "422":
          description: Diff failed
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/documents/{document_id}/versions:
    get:
      tags:
        - documents
      summary: List all versions of a document with pagination.
      operationId: list_versions
      parameters:
        - name: document_id
          in: path
          description: Logical document ID
          required: true
          schema:
            type: string
            format: uuid
      responses:
        "200":
          description: Document versions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DocumentVersionEntry'
        "400":
          description: Invalid document ID
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/extract:
    post:
      tags:
        - extract
      summary: '`POST /v1/extract` — Submit documents for extraction'
      description: |-
        Accepts `application/json` or `multipart/form-data`.

        **JSON body**: `{"documents": [...], "options": {...}, "webhook": {"url": "...", "secret": "...", "metadata": {...}}}`

        **Multipart**: file parts (binary) + `webhook` part (JSON string) + optional `options` part (JSON string)

        Returns 202 Accepted with job IDs. Results are delivered via the configured webhook.
      operationId: extract
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExtractRequest'
            examples:
              File extraction:
                summary: Extract from base64-encoded documents
                value:
                  documents:
                    - filename: invoice.pdf
                      mime_type: application/pdf
                      data: SGVsbG8gV29ybGQ=
                  options:
                    extraction_config:
                      output_format: markdown
                      ocr:
                        backend: tesseract
                        language: eng
                  webhook:
                    url: https://example.com/webhook
                    secret: my-secret
                    metadata:
                      request_id: abc123
              URL crawl extraction:
                summary: Crawl URLs and extract all discovered documents
                value:
                  urls:
                    - url: https://example.com/docs
                  crawl_config:
                    max_depth: 2
                    max_pages: 50
                    stay_on_domain: true
                  webhook:
                    url: https://example.com/webhook
                    secret: my-secret
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/ExtractMultipartForm'
        required: true
      responses:
        "202":
          description: Jobs accepted for processing
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExtractResponse'
              example:
                job_ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                crawl_job_ids:
                  - 660e9400-f39c-51e5-b827-557766551111
                status: pending
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
              example:
                error: At least one document or URL is required
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
              example:
                error: Missing project context
      security:
        - bearer_auth: []
  /v1/jobs:
    get:
      tags:
        - jobs
      summary: List jobs for the caller's project
      operationId: list_jobs
      parameters:
        - name: limit
          in: query
          description: Page size (default 50, max 100)
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          description: Pagination offset (default 0)
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Jobs listed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListJobsResponse'
        "400":
          description: Invalid pagination parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/jobs/{id}:
    get:
      tags:
        - jobs
      summary: Get job status and results
      description: |-
        Accepts both extraction job IDs (returned in `job_ids`) and crawl job IDs
        (returned in `crawl_job_ids`) from `POST /v1/extract`. When the ID belongs
        to a crawl job, the response body follows the `CrawlJobResponse` schema
        instead of `JobResponse`.
      operationId: get_job
      parameters:
        - name: id
          in: path
          description: Job ID or crawl job ID (UUID)
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        "200":
          description: Job retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JobLookupResponse'
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                filename: invoice.pdf
                status: completed
                created_at: "2025-12-21T10:00:00Z"
                result:
                  content: 'Invoice total: $1,234.56'
                  mime_type: text/markdown
                  tables: []
                  images: []
                  metadata:
                    title: 'Invoice #12345'
        "400":
          description: Invalid job ID format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: validation
                  message: Invalid job ID format
        "401":
          description: Unauthorized - missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: unauthorized
                  message: Missing or invalid API key
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: job_not_found
                  message: Job not found
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: internal
                  message: Database connection failed
        "503":
          description: Service unavailable - dependency failure
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  code: service_unavailable
                  message: Database connection unavailable
      security:
        - bearer_auth: []
  /v1/presets:
    get:
      tags:
        - presets
      summary: '`GET /v1/presets` — list curated presets (public).'
      operationId: list_presets
      responses:
        "200":
          description: Curated preset library
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PresetSummary'
      security: []
  /v1/presets/{id}:
    get:
      tags:
        - presets
      summary: '`GET /v1/presets/{id}` — full preset detail (public).'
      operationId: get_preset
      parameters:
        - name: id
          in: path
          description: Preset identifier
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Preset detail
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresetDetail'
        "404":
          description: Preset not found
          content:
            application/json:
              schema: {}
      security: []
  /v1/presets/{id}/sample/{name}:
    get:
      tags:
        - presets
      summary: '`GET /v1/presets/{id}/sample/{name}` — raw bundled sample bytes (public).'
      operationId: get_preset_sample
      parameters:
        - name: id
          in: path
          description: Preset identifier
          required: true
          schema:
            type: string
        - name: name
          in: path
          description: Sample file name
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Sample bytes (octet-stream)
        "404":
          description: Preset or sample not found
      security: []
  /v1/rag/collections:
    get:
      tags:
        - rag
      summary: List RAG collections
      description: Returns paginated list of collections ordered by creation time (newest first).
      operationId: list_collections
      parameters:
        - name: limit
          in: query
          description: Maximum results per page (default 50, max 100)
          required: false
          schema:
            type: integer
            format: int32
        - name: offset
          in: query
          description: Number of results to skip (default 0)
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: List of collections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCollectionsResponse'
        "401":
          description: Unauthorized — missing or invalid API key
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    post:
      tags:
        - rag
      summary: Create a new RAG collection
      description: |-
        Creates a vector collection with the specified embedding and index configuration.
        Collection names must be unique per project.
        Returns 201 on success, 409 if a collection with that name already exists.
      operationId: create_collection
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCollectionRequest'
        required: true
      responses:
        "201":
          description: Collection created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCollectionResponse'
        "400":
          description: Invalid request parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized — missing or invalid API key
        "409":
          description: Collection name already exists in this project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}:
    get:
      tags:
        - rag
      summary: Get a RAG collection
      description: Returns 404 if the collection does not exist or belongs to another project.
      operationId: get_collection
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      responses:
        "200":
          description: Collection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollectionResponse'
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    delete:
      tags:
        - rag
      summary: Delete a RAG collection
      description: |-
        Marking the collection as deleted prevents new document uploads but
        does not immediately remove data.
        Returns 204 on success, 404 if the collection does not exist.
      operationId: delete_collection
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      responses:
        "204":
          description: Collection deleted
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/documents:
    post:
      tags:
        - rag
      summary: Create a document in a RAG collection
      description: |-
        Supports two ingest paths:
        - **Text source** → server chunks, enriches, embeds → 202 async
        - **Chunks source** → worker handles embedding and enrichment → 202 async

        Quota checks apply: if the collection has `quota_max_documents` set and
        the active document count would exceed it, returns 429.

        **Note:** The synchronous BYO-vector path (200 with all embeddings supplied) ships in Phase 6c.
        Currently all ingest requests return 202 with a job_id for polling.
      operationId: create_document
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentRequest'
        required: true
      responses:
        "202":
          description: Document ingest queued asynchronously
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDocumentAsyncResponse'
              example:
                job_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
                document_id: 550e8400-e29b-41d4-a716-446655440000
                status: pending
                poll: /v1/rag/jobs/01ARZ3NDEKTSV4RRFFQ69G5FAV
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Collection not found or RAG disabled on project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "429":
          description: Collection quota exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database or NATS error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    delete:
      tags:
        - rag
      summary: Delete documents from a RAG collection
      description: Accepts either a list of document IDs or a metadata filter expression.
      operationId: delete_documents
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteDocumentsRequest'
        required: true
      responses:
        "200":
          description: Documents deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteDocumentsResponse'
              example:
                deleted_count: 5
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Collection not found or RAG disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/documents/{id}/reindex:
    post:
      tags:
        - rag
      summary: Reindex a document
      description: |-
        When `re_extract: true`, the worker re-pulls the source object from storage
        and re-runs xberg extraction before re-chunking.
      operationId: reindex_document
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
        - name: id
          in: path
          description: Document ID
          required: true
          schema:
            type: string
            format: uuid
          example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReindexRequest'
        required: true
      responses:
        "202":
          description: Reindex job queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDocumentAsyncResponse'
              example:
                job_id: 01ARZ3NDEKTSV4RRFFQ69G5FAV
                document_id: 550e8400-e29b-41d4-a716-446655440000
                status: pending
                poll: /v1/rag/jobs/01ARZ3NDEKTSV4RRFFQ69G5FAV
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Document or collection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database or NATS error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/migrate-embeddings:
    post:
      tags:
        - rag
      summary: Initiate embedding source migration
      description: |-
        Validates that the target version is greater than the current version
        and that the target embedding source has the same dimension as the
        current embedding source (cross-dimension migration is not supported).

        Returns 202 with a job_id for polling progress.
      operationId: migrate_embeddings
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MigrateEmbeddingsRequest'
        required: true
      responses:
        "202":
          description: Migration queued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateEmbeddingsResponse'
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Collection not found or RAG disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Invalid migration parameters
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/migrate-embeddings/{job_id}:
    get:
      tags:
        - rag
      summary: Get migration job status
      description: Returns the current status, progress details, or error information.
      operationId: migrate_status
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
        - name: job_id
          in: path
          description: Migration job ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Migration status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MigrateStatusResponse'
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Job not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/collections/{name}/retrieve:
    post:
      tags:
        - rag
      summary: Retrieve relevance-ranked chunks from a RAG collection
      operationId: retrieve
      parameters:
        - name: name
          in: path
          description: Collection name
          required: true
          schema:
            type: string
          example: my-docs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RetrieveRequest'
        required: true
      responses:
        "200":
          description: Retrieve completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveResponse'
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Collection not found or RAG disabled
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "422":
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "501":
          description: Reranker kind not available in this deployment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "503":
          description: RAG service unavailable or retrieve limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "504":
          description: Request deadline exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/rag/jobs/{job_id}:
    get:
      tags:
        - rag
      summary: Poll async RAG operation status
      description: |-
        Returns the current job state, operation type, and any available progress details.
        Status is determined by:
        - For ingest/reindex: document status in vector_documents (pending→indexed or failed)
        - For migrate: job status in NATS KV bucket (rag-migrate-status)

        Returns 404 if the job_id does not exist or belongs to another project (RLS enforcement).
      operationId: get_rag_job
      parameters:
        - name: job_id
          in: path
          description: Job ID (ULID)
          required: true
          schema:
            type: string
          example: 01ARZ3NDEKTSV4RRFFQ69G5FAV
      responses:
        "200":
          description: Job status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RagJobStatusResponse'
        "401":
          description: Unauthorized — missing or invalid API key
        "404":
          description: Job not found or access denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Database or NATS error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/tuning-profiles:
    get:
      tags:
        - auto-tune
      summary: List tuning profiles
      operationId: list_tuning_profiles
      parameters:
        - name: limit
          in: query
          description: Page size (default 50, clamped to 1-100)
          required: false
          schema:
            type: integer
            format: int64
        - name: offset
          in: query
          description: Pagination offset (default 0)
          required: false
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: Tuning profiles for the current project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTuningProfilesResponse'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/tuning-profiles/{id}:
    get:
      tags:
        - auto-tune
      summary: Get a tuning profile
      operationId: get_tuning_profile
      parameters:
        - name: id
          in: path
          description: Tuning profile ID
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Tuning profile details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TuningProfileDetail'
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Tuning profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
    delete:
      tags:
        - auto-tune
      summary: Delete a tuning profile
      operationId: delete_tuning_profile
      parameters:
        - name: id
          in: path
          description: Tuning profile ID
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Tuning profile deleted
        "401":
          description: Missing or invalid authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "404":
          description: Tuning profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Persistence error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      security:
        - bearer_auth: []
  /v1/uploads/confirm:
    post:
      tags:
        - uploads
      summary: Confirm uploads and start processing
      description: Verifies all files exist in storage, then dispatches jobs to the worker queue.
      operationId: confirm_upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConfirmUploadRequest'
        required: true
      responses:
        "202":
          description: Uploads confirmed, processing started
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmUploadResponse'
              example:
                job_ids:
                  - 550e8400-e29b-41d4-a716-446655440000
                  - 550e8400-e29b-41d4-a716-446655440001
                status: processing
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/uploads/presign:
    post:
      tags:
        - uploads
      summary: Generate presigned upload URLs
      description: |-
        Returns upload URLs for each document. The client uploads files directly
        to storage, then calls `/v1/uploads/confirm` to trigger processing.
      operationId: presign_upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignUploadRequest'
        required: true
      responses:
        "200":
          description: Presigned upload URLs generated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresignUploadResponse'
              example:
                batch_id: batch_550e8400-e29b-41d4-a716
                uploads:
                  - job_id: 550e8400-e29b-41d4-a716-446655440000
                    upload_url: https://storage.googleapis.com/xberg-dev-uploads/...
                    object_key: projects/abc123/uploads/550e8400-e29b-41d4-a716-446655440000
                    method: PUT
                    expires_in_secs: 3600
                  - job_id: 550e8400-e29b-41d4-a716-446655440001
                    upload_url: https://storage.googleapis.com/xberg-dev-uploads/...
                    object_key: projects/abc123/uploads/550e8400-e29b-41d4-a716-446655440001
                    method: PUT
                    expires_in_secs: 3600
        "400":
          description: Invalid request
          content:
            application/json:
              schema: {}
        "401":
          description: Unauthorized
          content:
            application/json:
              schema: {}
      security:
        - bearer_auth: []
  /v1/usage:
    get:
      tags:
        - usage
      summary: Get usage statistics and quota
      operationId: get_usage
      parameters:
        - name: start
          in: query
          description: Start date (ISO 8601, e.g. "2026-03-01"). Defaults to first day of current month.
          required: false
          schema:
            type:
              - string
              - "null"
        - name: end
          in: query
          description: End date (ISO 8601, e.g. "2026-04-01"). Defaults to first day of next month.
          required: false
          schema:
            type:
              - string
              - "null"
      responses:
        "200":
          description: Usage statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
              example:
                period_start: "2026-05-01"
                period_end: "2026-06-01"
                total_pages: 5432
                total_documents: 87
                total_failed: 2
                quota_limit: 100000
                quota_remaining: 94568
                by_mime_type:
                  application/pdf:
                    documents: 65
                    pages: 3200
                    failed: 1
                  image/png:
                    documents: 15
                    pages: 1800
                    failed: 0
                  text/plain:
                    documents: 7
                    pages: 432
                    failed: 1
        "400":
          description: Invalid date format
        "401":
          description: Unauthorized
      security:
        - bearer_auth: []
components:
  schemas:
    AnnotationKind:
      oneOf:
        - type: object
          description: Bold (strong) text formatting.
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - bold
        - type: object
          description: Italic (emphasis) text formatting.
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - italic
        - type: object
          description: Underlined text.
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - underline
        - type: object
          description: Strikethrough text.
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - strikethrough
        - type: object
          description: Inline code span.
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - code
        - type: object
          description: Subscript text.
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - subscript
        - type: object
          description: Superscript text.
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - superscript
        - type: object
          description: Hyperlink annotation.
          required:
            - url
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - link
            title:
              type:
                - string
                - "null"
              description: Optional link title attribute.
            url:
              type: string
              description: Hyperlink target URL.
        - type: object
          description: Highlighted text (PDF highlights, HTML `<mark>`).
          required:
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - highlight
        - type: object
          description: Text color (CSS-compatible value, e.g. "#ff0000", "red").
          required:
            - value
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - color
            value:
              type: string
              description: CSS-compatible color value (e.g. `"#ff0000"`, `"red"`).
        - type: object
          description: Font size with units (e.g. "12pt", "1.2em", "16px").
          required:
            - value
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - font_size
            value:
              type: string
              description: Font size including unit (e.g. `"12pt"`, `"1.2em"`, `"16px"`).
        - type: object
          description: Extensible annotation for format-specific styling.
          required:
            - name
            - annotation_type
          properties:
            annotation_type:
              type: string
              enum:
                - custom
            name:
              type: string
              description: Name of the custom annotation kind.
            value:
              type:
                - string
                - "null"
              description: Optional value or parameter for the annotation.
      description: Types of inline text annotations.
    ApiHealthResponse:
      type: object
      description: Liveness + tier + auto-tune-readiness probe.
      required:
        - status
        - tier
        - auto_tune
      properties:
        auto_tune:
          $ref: '#/components/schemas/AutoTuneHealth'
          description: Auto-tune readiness, read by the frontend to gate the auto-tune UI.
        status:
          type: string
          description: Service status
          example: ok
        tier:
          type: string
          description: Deployment tier the frontend uses for runtime feature gating (ADR-0047).
          example: enterprise
    ArchiveEntry:
      type: object
      description: |-
        A single file extracted from an archive.

        When archives (ZIP, TAR, 7Z, GZIP) are extracted with recursive extraction
        enabled, each processable file produces its own full `ExtractedDocument`.
      required:
        - path
        - mime_type
        - result
      properties:
        mime_type:
          type: string
          description: Detected MIME type of the file.
        path:
          type: string
          description: Archive-relative file path (e.g. "folder/document.pdf").
        result:
          $ref: '#/components/schemas/ExtractedDocument'
          description: Full extraction result for this file.
    ArchiveMetadata:
      type: object
      description: |-
        Archive (ZIP/TAR/7Z) metadata.

        Extracted from compressed archive files containing file lists and size information.
      required:
        - format
        - file_count
        - file_list
        - total_size
      properties:
        compressed_size:
          type:
            - integer
            - "null"
          format: int64
          description: Compressed size in bytes (if available)
          minimum: 0
        file_count:
          type: integer
          format: int32
          description: Total number of files in the archive
          minimum: 0
        file_list:
          type: array
          items:
            type: string
          description: List of file paths within the archive
        format:
          type: string
          description: Archive format ("ZIP", "TAR", "7Z", etc.)
        total_size:
          type: integer
          format: int64
          description: Total uncompressed size in bytes
          minimum: 0
    Attributes:
      type: object
      description: |-
        Element attributes in Djot.

        Represents the attributes attached to elements using {.class #id key="value"} syntax.
      properties:
        classes:
          type: array
          items:
            type: string
          description: CSS classes (.class1 .class2)
        id:
          type:
            - string
            - "null"
          description: Element ID (#identifier)
        key_values:
          type: array
          items:
            type: array
            items:
              type: string
          description: Key-value pairs (key="value")
    AudioMetadata:
      type: object
      description: |-
        Audio/video file metadata.

        Populated from container tags (ID3v2, MP4 atoms, Vorbis comments, etc.) and
        PCM decode properties. Available when the `transcription-types` feature is enabled.
      properties:
        bitrate:
          type:
            - integer
            - "null"
          format: int32
          description: Audio bitrate in kbps from the source file tags/properties.
          minimum: 0
        channels:
          type:
            - integer
            - "null"
          format: int32
          description: Number of audio channels (1 = mono, 2 = stereo).
          minimum: 0
        codec:
          type:
            - string
            - "null"
          description: Audio codec (e.g. "mp3", "aac", "opus", "flac").
        container:
          type:
            - string
            - "null"
          description: Container format (e.g. "mpeg", "mp4", "ogg", "wav").
        duration_ms:
          type:
            - integer
            - "null"
          format: int64
          description: Duration in milliseconds derived from the decoded audio stream.
          minimum: 0
        sample_rate_hz:
          type:
            - integer
            - "null"
          format: int32
          description: Sample rate in Hz after decode (always 16000 when resampled for Whisper).
          minimum: 0
    AuditEntry:
      type: object
      description: A single customer-facing audit log entry.
      required:
        - id
        - actor
        - action
        - resource_type
        - metadata
        - created_at
      properties:
        action:
          type: string
          description: Action performed (e.g. `"job.submit"`, `"api_key.revoke"`).
        actor:
          type: string
          description: Actor that performed the action (e.g. an API key prefix or user id).
        created_at:
          type: string
          description: ISO 8601 event timestamp.
        id:
          type: string
          description: Unique event identifier.
        metadata:
          description: Additional structured metadata describing the event.
        resource_id:
          type:
            - string
            - "null"
          description: Identifier of the affected resource, when applicable.
        resource_type:
          type: string
          description: Type of resource the action applied to (e.g. `"job"`, `"api_key"`).
    AutoTuneBudget:
      type: object
      description: Budget limits for an auto-tune run.
      properties:
        max_billable_pages:
          type:
            - integer
            - "null"
          format: int64
          description: Maximum number of billable pages to process across all trials.
          minimum: 0
        max_trials:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum number of trials to run.
          minimum: 0
        max_wall_clock_secs:
          type:
            - integer
            - "null"
          format: int64
          description: Maximum wall-clock time, in seconds, before the run is cut short.
          minimum: 0
    AutoTuneCapabilitiesResponse:
      type: object
      description: |-
        Auto-tune capabilities (OCR backends and tunable knobs) reported for a deployment. Powers a
        deployment-aware wizard rather than hardcoding backend/knob names on the frontend.
      required:
        - ocr_backends
        - default_ocr_ladder
        - tunable_knobs
      properties:
        default_ocr_ladder:
          type: array
          items:
            type: string
          description: Backend names composing the default OCR search ladder, in search order.
        ocr_backends:
          type: array
          items:
            $ref: '#/components/schemas/OcrBackendCapabilityInfo'
          description: OCR backends available to this deployment.
        tunable_knobs:
          type: array
          items:
            $ref: '#/components/schemas/TunableKnobInfo'
          description: Knobs that auto-tune can search over.
    AutoTuneDocumentInput:
      type: object
      description: One document submitted to an auto-tune run, paired with its ground truth.
      required:
        - filename
        - ground_truth_kind
        - ground_truth
      properties:
        content_ref:
          type:
            - string
            - "null"
          description: |-
            Reserved, not yet supported: a request that sets this field is rejected with 400 on every
            tier (no backend resolves it yet). Upload the document bytes as a multipart file part instead.
            Intended future use: referencing previously stored bytes by a per-project storage key without
            re-uploading them.
        filename:
          type: string
          description: Original filename of the document (used for format detection).
        ground_truth:
          type: string
          description: |-
            The ground truth payload. For `markdown`/`plaintext`, this is the
            raw expected text. For `structured`, this is a JSON string encoding
            `{"schema": ..., "expected": ...}` (both the JSON schema and the
            expected output are required).
        ground_truth_kind:
          $ref: '#/components/schemas/GroundTruthKind'
          description: Which kind of ground truth is supplied.
    AutoTuneHealth:
      type: object
      description: |-
        Auto-tune readiness summary for the health response. Enterprise has no deploy-time
        toggle for auto-tune (see `crate::autotune::config`) — the `/v1/auto-tune` and
        `/v1/tuning-profiles` routes always mount, so this unconditionally reports `true`;
        access is controlled per-request by the project's billing entitlement instead. Mirrors
        `services/pro`'s `auto_tune.enabled` health field so the frontend's `TierContext` reads
        one wire contract across both products.
      required:
        - enabled
      properties:
        enabled:
          type: boolean
          description: Always `true` for Enterprise — see the struct docs.
          example: true
    AutoTuneJobStatus:
      type: object
      description: Current status and progress of an auto-tune job.
      required:
        - auto_tune_job_id
        - status
        - trials_completed
        - trials_total
      properties:
        auto_tune_job_id:
          type: string
          description: Unique ID of the auto-tune job.
        best_score:
          type:
            - number
            - "null"
          format: double
          description: Best primary score observed so far, if any trial has completed.
        budget_spent:
          type:
            - integer
            - "null"
          format: int64
          description: |-
            Budget units spent so far (interpretation depends on the active
            budget dimension, e.g. billable pages).
          minimum: 0
        status:
          type: string
          description: Current job status (e.g. `queued`, `running`, `completed`, `failed`).
        trials_completed:
          type: integer
          format: int32
          description: Number of trials completed so far.
          minimum: 0
        trials_total:
          type: integer
          format: int32
          description: Total number of trials planned for this run.
          minimum: 0
    AutoTuneJobSummary:
      type: object
      description: Lightweight projection of an auto-tune job (for listings).
      required:
        - auto_tune_job_id
        - status
        - trials_completed
        - trials_total
        - created_at
      properties:
        auto_tune_job_id:
          type: string
          description: Unique ID of the auto-tune job.
        best_score:
          type:
            - number
            - "null"
          format: double
          description: Best primary score observed, if any trial has completed.
        created_at:
          type: string
          description: ISO 8601 creation timestamp.
        status:
          type: string
          description: Current job status (`running`, `completed`, or `failed`).
        trials_completed:
          type: integer
          format: int32
          description: Number of trials completed so far.
          minimum: 0
        trials_total:
          type: integer
          format: int32
          description: Total number of trials planned for this run.
          minimum: 0
    AutoTuneMultipartForm:
      type: object
      description: |-
        Multipart (`multipart/form-data`) variant of the submit-auto-tune request body.

        Send a text part named `request` carrying a JSON-encoded
        [`CreateAutoTuneJobRequest`], plus one binary part per document whose
        part name (or filename) matches a `documents[].filename` entry in the
        request. ~keep
      required:
        - request
        - file
      properties:
        file:
          type: array
          items:
            type: integer
            format: binary
            minimum: 0
          description: A document file. Repeat with one binary part per file.
          contentMediaType: application/octet-stream
        request:
          $ref: '#/components/schemas/CreateAutoTuneJobRequest'
          description: The JSON-encoded `request` part — a [`CreateAutoTuneJobRequest`].
    AutoTuneResult:
      type: object
      description: Final result of a completed auto-tune run.
      required:
        - auto_tune_job_id
        - profile
        - leaderboard
      properties:
        auto_tune_job_id:
          type: string
          description: Unique ID of the auto-tune job.
        held_out_confidence:
          type:
            - number
            - "null"
          format: double
          description: |-
            Confidence score computed against a held-out validation split, if
            one was used.
        leaderboard:
          type: array
          items:
            $ref: '#/components/schemas/LeaderboardEntry'
          description: Ranked leaderboard of trialed configurations.
        profile:
          description: |-
            The winning tuning profile artifact. The concrete `TuningProfile`
            shape is defined in `autotune-core`; here it is opaque JSON.
    AutoTuneSearchConfig:
      type: object
      description: Search configuration for an auto-tune run.
      required:
        - search_space
      properties:
        max_trials:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum number of trials to run during the search.
          minimum: 0
        search_params:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/AutoTuneSearchParams'
              description: |-
                Structured, wizard-friendly alternative to `search_space`. Ignored when `search_space` is
                also set.
        search_space:
          description: |-
            Which knobs/axes to tune, and their candidate values. The concrete
            `SearchSpace` shape is defined in `autotune-core`; here it is
            opaque JSON so this crate has no dependency on that crate.

            Power-user escape hatch. Takes precedence over `search_params` when both are set.
        tolerance:
          type:
            - number
            - "null"
          format: double
          description: Tolerance band used when ranking near-tied configurations.
    AutoTuneSearchParams:
      type: object
      description: |-
        Wizard-friendly, structured alternative to [`AutoTuneSearchConfig::search_space`]: which OCR
        backends to sweep and per-knob candidate values, without a client having to construct a full
        `autotune_core::search::SearchSpace`.
      required:
        - candidates
      properties:
        candidates:
          type: object
          description: |-
            Per-knob candidate-value overrides, keyed by the knob's wire name (see
            [`TunableKnobInfo::knob`] / `autotune_core::search::Knob` for the full set of names). Each
            knob's values are opaque JSON so this crate has no dependency on `autotune-core`.
          additionalProperties:
            type: array
            items: {}
          propertyNames:
            type: string
        ocr_backends:
          type:
            - array
            - "null"
          items:
            type: string
          description: |-
            OCR backends to sweep, in dominance order. `None` falls back to the deployment's default
            OCR ladder (see [`AutoTuneCapabilitiesResponse::default_ocr_ladder`]).
    BibtexMetadata:
      type: object
      description: BibTeX bibliography metadata.
      required:
        - entry_count
      properties:
        authors:
          type: array
          items:
            type: string
          description: Author names collected across all bibliography entries.
        citation_keys:
          type: array
          items:
            type: string
          description: BibTeX citation keys (e.g. `"knuth1984"`) for all entries.
        entry_count:
          type: integer
          description: Number of entries in the bibliography.
          minimum: 0
        entry_types:
          type:
            - object
            - "null"
          description: Count of entries grouped by BibTeX entry type (e.g. `"article"` → 5).
          additionalProperties:
            type: integer
            minimum: 0
          propertyNames:
            type: string
        year_range:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/YearRange'
              description: Earliest and latest publication years found in the bibliography.
    BlockType:
      type: string
      description: Types of block-level elements in Djot.
      enum:
        - paragraph
        - heading
        - blockquote
        - code_block
        - list_item
        - ordered_list
        - bullet_list
        - task_list
        - definition_list
        - definition_term
        - definition_description
        - div
        - section
        - thematic_break
        - raw_block
        - math_display
    BoundingBox:
      type: object
      description: Bounding box coordinates for element positioning.
      required:
        - x0
        - y0
        - x1
        - y1
      properties:
        x0:
          type: number
          format: double
          description: Left x-coordinate
        x1:
          type: number
          format: double
          description: Right x-coordinate
        y0:
          type: number
          format: double
          description: Bottom y-coordinate
        y1:
          type: number
          format: double
          description: Top y-coordinate
    BrowserOverrides:
      type: object
      description: |-
        Browser rendering overrides for a specific crawl request.
        Allows per-request override of browser backend, mode, and stealth settings.
      properties:
        backend:
          type:
            - string
            - "null"
          description: 'Browser backend: "native" (lightweight Rust-based) or "chromiumoxide" (Chrome-based)'
          example: native
        mode:
          type:
            - string
            - "null"
          description: 'Browser mode: "auto" (default, use browser if needed), "always" (always use), or "never" (never use)'
          example: auto
        stealth:
          type:
            - boolean
            - "null"
          description: Enable browser stealth mode (TLS fingerprint + UA spoof) — only honored by native backend
          example: false
    BypassMode:
      type: string
      description: |-
        Bypass mode — determines whether cloud provides credentials (managed) or
        the customer does (bring-your-own).
      enum:
        - managed
        - byo
    BypassRequestOverride:
      type: object
      description: |-
        Per-request bypass override. When set on a crawl request, applies an
        external bypass provider (e.g., Bright Data, Zyte, ScrapingBee) to bypass
        WAF/antibot on the crawl.
      required:
        - mode
        - vendor
      properties:
        credentials:
          description: |-
            Per-vendor credentials JSON. Required when mode = byo; ignored for
            managed (cloud uses its own credentials from Secret Manager).
        mode:
          $ref: '#/components/schemas/BypassMode'
          description: Whether cloud provides vendor credentials (managed) or caller does (byo).
        vendor:
          type: string
          description: |-
            Vendor identifier — must be registered in bypass-providers/registry.
            Today: "bright_data" | "zyte" | "scrapingbee".
    CellChange:
      type: object
      description: |-
        A single changed cell within a table.

        Defined here (rather than only in `crate::diff`) so `RevisionDelta` can
        reference it unconditionally, without requiring the `diff` Cargo feature.
        `crate::diff` re-exports this type verbatim.
      required:
        - row
        - col
        - from
        - to
      properties:
        col:
          type: integer
          description: Zero-based column index.
          minimum: 0
        from:
          type: string
          description: Value before the change.
        row:
          type: integer
          description: Zero-based row index.
          minimum: 0
        to:
          type: string
          description: Value after the change.
    Chunk:
      type: object
      description: |-
        A text chunk with optional embedding and metadata.

        Chunks are created when chunking is enabled in `ExtractionConfig`. Each chunk
        contains the text content, optional embedding vector (if embedding generation
        is configured), and metadata about its position in the document.
      required:
        - content
        - metadata
      properties:
        chunk_type:
          $ref: '#/components/schemas/ChunkType'
          description: |-
            Semantic structural classification of this chunk.

            Assigned by the heuristic classifier based on content patterns and
            heading context. Defaults to `ChunkType::Unknown` when no rule matches.
        content:
          type: string
          description: The text content of this chunk.
        embedding:
          type:
            - array
            - "null"
          items:
            type: number
            format: float
          description: |-
            Optional embedding vector for this chunk.

            Only populated when `EmbeddingConfig` is provided in chunking configuration.
            The dimensionality depends on the chosen embedding model.
        metadata:
          $ref: '#/components/schemas/ChunkMetadata'
          description: Metadata about this chunk's position and properties.
    ChunkMetadata:
      type: object
      description: Metadata about a chunk's position in the original document.
      required:
        - byte_start
        - byte_end
        - chunk_index
        - total_chunks
      properties:
        byte_end:
          type: integer
          description: Byte offset where this chunk ends in the original text (UTF-8 valid boundary).
          minimum: 0
        byte_start:
          type: integer
          description: Byte offset where this chunk starts in the original text (UTF-8 valid boundary).
          minimum: 0
        chunk_index:
          type: integer
          description: Zero-based index of this chunk in the document.
          minimum: 0
        classifications:
          type: array
          items:
            $ref: '#/components/schemas/ClassificationLabel'
          description: |-
            Multi-label classification result for this chunk.

            Populated by the chunk-classification post-processor when
            [`ExtractionConfig::chunk_classification`](crate::core::config::ExtractionConfig::chunk_classification)
            is set. A chunk may match zero, one, or many of the configured label
            definitions. Empty when chunk classification was not configured.
        first_page:
          type:
            - integer
            - "null"
          format: int32
          description: |-
            First page number this chunk spans (1-indexed).

            Only populated when page tracking is enabled in extraction configuration.
          minimum: 0
        heading_context:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/HeadingContext'
              description: |-
                Heading context when using Markdown chunker.

                Contains the heading hierarchy this chunk falls under.
                Only populated when `ChunkerType::Markdown` is used.
        heading_path:
          type: array
          items:
            type: string
          description: |-
            Flattened heading trail from document root to this chunk's section.

            Each element is a heading's text, outermost first. Derived from
            [`heading_context`](Self::heading_context) when present; empty otherwise.
            Provides a binding-friendly, RAG-shaped breadcrumb without requiring
            callers to walk the nested [`HeadingContext`] structure.
        image_indices:
          type: array
          items:
            type: integer
            format: int32
            minimum: 0
          description: |-
            Indices into `ExtractedDocument.images` for images on pages covered by this chunk.

            Contains zero-based indices into the top-level `images` collection for every
            image whose `page_number` falls within `[first_page, last_page]`.
            Empty when image extraction is disabled or the chunk spans no pages with images.
        last_page:
          type:
            - integer
            - "null"
          format: int32
          description: |-
            Last page number this chunk spans (1-indexed, equal to first_page for single-page chunks).

            Only populated when page tracking is enabled in extraction configuration.
          minimum: 0
        node_ids:
          type: array
          items:
            type: string
          description: |-
            Ids of the [`DocumentNode`](super::document_structure::DocumentNode)s
            this chunk was derived from.

            Joins a chunk back to the structured document tree via
            [`DocumentNode::id`](super::document_structure::DocumentNode::id).
            Empty until the node-to-rendered-offset mapping needed to compute the
            intersection is implemented (tracked under #1294/#1295); this field is
            the wire-format foundation for that follow-up.
        page_spans:
          type: array
          items:
            $ref: '#/components/schemas/PageSpan'
          description: |-
            Per-page bounding-box spans this chunk covers, for viewer highlighting (#1295).

            One entry per page the chunk overlaps, in page order — the first and last entries'
            `page` fields equal [`first_page`](Self::first_page)/[`last_page`](Self::last_page).
            Populated whenever page-boundary provenance is available (the same condition under
            which `first_page`/`last_page` are populated); each entry's `bbox` is additionally
            populated when the document's structured node tree ([`ExtractedDocument::document`]) is
            available, as the union of that page's body-layer node bounding boxes found within this
            chunk. Empty when page-boundary provenance is unavailable (mirrors `first_page`/
            `last_page` being `None`).
        token_count:
          type:
            - integer
            - "null"
          description: |-
            Number of tokens in this chunk (if available).

            This is calculated by the embedding model's tokenizer if embeddings are enabled.
          minimum: 0
        total_chunks:
          type: integer
          description: Total number of chunks in the document.
          minimum: 0
    ChunkType:
      type: string
      description: |-
        Semantic structural classification of a text chunk.

        Assigned by the heuristic classifier in `chunking::classifier`.
        Defaults to `Unknown` when no rule matches.
        Designed to be extended in future versions without breaking changes.
      enum:
        - heading
        - party_list
        - definitions
        - operative_clause
        - signature_block
        - schedule
        - table_like
        - formula
        - code_block
        - function
        - class
        - module
        - image
        - org_chart
        - diagram
        - unknown
    ChunkingConfig:
      type: object
      description: Text chunking configuration.
      properties:
        chunker_type:
          type:
            - string
            - "null"
          description: 'Chunker type: "text", "markdown", "yaml"'
        embedding:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/EmbeddingConfig'
              description: Embedding generation configuration
        max_characters:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum chunk size in characters
          minimum: 0
        overlap:
          type:
            - integer
            - "null"
          format: int32
          description: Overlap between adjacent chunks in characters
          minimum: 0
        preset:
          type:
            - string
            - "null"
          description: Preset name (overrides other settings)
        trim:
          type:
            - boolean
            - "null"
          description: Trim whitespace from chunk boundaries
    CitationMetadata:
      type: object
      description: Citation file metadata (RIS, PubMed, EndNote).
      required:
        - citation_count
      properties:
        authors:
          type: array
          items:
            type: string
          description: Author names collected across all citation records.
        citation_count:
          type: integer
          description: Total number of citation records in the file.
          minimum: 0
        dois:
          type: array
          items:
            type: string
          description: DOI identifiers found in the citation records.
        format:
          type:
            - string
            - "null"
          description: Detected citation file format (e.g. `"ris"`, `"pubmed"`, `"endnote"`).
        keywords:
          type: array
          items:
            type: string
          description: Keywords collected from all citation records.
        year_range:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/YearRange'
              description: Earliest and latest publication years found in the file.
    ClassificationLabel:
      type: object
      description: A single label + confidence pair.
      required:
        - label
      properties:
        confidence:
          type:
            - number
            - "null"
          format: float
          description: |-
            Backend-reported confidence in `[0.0, 1.0]`. `None` when the backend (e.g. an LLM
            prompt without explicit confidence schema) did not report one.
        label:
          type: string
          description: Label name as configured in `PageClassificationConfig::labels`.
    CodeChunkInfo:
      type: object
      description: |-
        A single structurally-meaningful code chunk produced by tree-sitter parsing.

        Purpose-built payload owned by xberg — deliberately does not expose the upstream
        `tree_sitter_language_pack` types, so binding generators never need to resolve an
        external crate's types across FFI/language boundaries.
      required:
        - text
        - context_path
        - node_types
        - byte_start
        - byte_end
      properties:
        byte_end:
          type: integer
          description: Exclusive end byte offset of this chunk in the original source.
          minimum: 0
        byte_start:
          type: integer
          description: Inclusive start byte offset of this chunk in the original source.
          minimum: 0
        context_path:
          type: array
          items:
            type: string
          description: Hierarchical path of enclosing structural items (e.g. `["MyClass", "my_method"]`).
        node_types:
          type: array
          items:
            type: string
          description: |-
            Tree-sitter node kinds that appear at the top level of this chunk (e.g.
            `"function_definition"`, `"class_definition"`).
        text:
          type: string
          description: The raw source text of this chunk.
    CodeDataAttribute:
      type: object
      description: |-
        An XML-style attribute attached to an [`Element`](CodeDataNodeKind::Element) node.

        Populated only for `CodeDataNodeKind::Element`; always empty for `KeyValue` and
        `Sequence` nodes.
      required:
        - name
        - value
        - byte_start
        - byte_end
      properties:
        byte_end:
          type: integer
          description: Exclusive end byte offset of the `name="value"` attribute token.
          minimum: 0
        byte_start:
          type: integer
          description: Inclusive start byte offset of the `name="value"` attribute token.
          minimum: 0
        name:
          type: string
          description: Attribute name (e.g. `"class"`, `"href"`).
        value:
          type: string
          description: Attribute value as a raw string (quotes stripped).
    CodeDataNode:
      type: object
      description: |-
        A node in the hierarchical data tree produced by data-format extraction.

        Purpose-built payload owned by xberg — mirrors
        `tree_sitter_language_pack::DataNode` but flattens its `Span` down to plain byte
        offsets, so binding generators never need to resolve an external crate's types
        across FFI/language boundaries.
      required:
        - kind
        - byte_start
        - byte_end
      properties:
        attributes:
          type: array
          items:
            $ref: '#/components/schemas/CodeDataAttribute'
          description: |-
            Attributes on element-shape nodes (XML `STag` attributes). Empty for all
            other kinds.
        byte_end:
          type: integer
          description: Exclusive end byte offset of this node in the original source.
          minimum: 0
        byte_start:
          type: integer
          description: Inclusive start byte offset of this node in the original source.
          minimum: 0
        children:
          type: array
          items:
            $ref: '#/components/schemas/CodeDataNode'
          description: Children for nested containers and XML element bodies.
        key:
          type:
            - string
            - "null"
          description: |-
            Key, attribute name, tag name, or positional index (`"0"`, `"1"`, …).
            `None` at the document root.
        kind:
          $ref: '#/components/schemas/CodeDataNodeKind'
          description: Whether this node is a key/value pair, XML element, or sequence item.
        value:
          type:
            - string
            - "null"
          description: |-
            Leaf scalar value, if any. `None` for containers (objects, arrays, XML
            elements with child elements).
    CodeDataNodeKind:
      type: string
      description: |-
        Discriminates the shape of a [`CodeDataNode`].

        Purpose-built mirror of `tree_sitter_language_pack::DataNodeKind` — kept as an
        xberg-owned type so binding generators never need to resolve the upstream crate's
        types across FFI/language boundaries.
      enum:
        - key_value
        - element
        - sequence
    CodeMetadata:
      type: object
      description: |-
        Code-format metadata: the structural chunks produced by tree-sitter parsing.

        Wrapped by [`FormatMetadata::Code`]. Kept as a named struct (rather than an inline
        enum-variant body) so serde can tag it under internal tagging and utoipa can emit a
        referenceable `CodeMetadata` component in the OpenAPI schema.
      required:
        - chunks
      properties:
        chunks:
          type: array
          items:
            $ref: '#/components/schemas/CodeChunkInfo'
          description: Structural code chunks (function/class/module boundaries).
        data:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/CodeDataNode'
              description: |-
                Hierarchical key/value data tree extracted from data-format source
                (JSON, YAML, TOML, XML, CSV, etc.), when data extraction was enabled.
    CollectionChunkingConfig:
      type: object
      description: |-
        Per-collection text chunking configuration.

        Mirrors the tunable knobs of xberg's chunker. Every field is optional;
        omitted fields fall back to the ingest pipeline's defaults. The API layer
        converts this into xberg's native `ChunkingConfig` before persisting it
        to the collection, so the ingest pipeline consumes the canonical type.
      properties:
        chunker_type:
          type:
            - string
            - "null"
          description: 'Chunker strategy: `text`, `markdown`, `yaml`, or `semantic`. Default `text`.'
        max_characters:
          type:
            - integer
            - "null"
          format: int32
          description: Maximum characters per chunk (must be greater than `overlap`). Default 1000.
          minimum: 0
        overlap:
          type:
            - integer
            - "null"
          format: int32
          description: |-
            Overlap between adjacent chunks in characters (must be less than
            `max_characters`). Default 200.
          minimum: 0
        topic_threshold:
          type:
            - number
            - "null"
          format: float
          description: |-
            Cosine-similarity threshold (0.0–1.0) for the `semantic` chunker's topic
            boundary detection. Ignored by other chunker types.
        trim:
          type:
            - boolean
            - "null"
          description: Trim whitespace from chunk boundaries. Default true.
      additionalProperties: false
    CollectionResponse:
      type: object
      description: Response for collection retrieval / listing
      required:
        - id
        - name
        - embedding_dim
        - distance_metric
        - index_method
      properties:
        chunking_config:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/CollectionChunkingConfig'
              description: Per-collection text chunking configuration
        distance_metric:
          type: string
          description: Distance metric
        embedding_dim:
          type: integer
          format: int32
          description: Embedding dimension
          minimum: 0
        embedding_source:
          type:
            - string
            - "null"
          description: Embedding source for this collection
        id:
          type: string
          description: Collection unique identifier
        index_method:
          type: string
          description: Vector index method
        name:
          type: string
          description: Collection name
        quota_max_documents:
          type:
            - integer
            - "null"
          format: int64
          description: Maximum documents quota
          minimum: 0
        rerank_default:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/RerankerSpec'
              description: Default reranker spec for retrieve operations on this collection
        stats:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/CollectionStatsResponse'
              description: |-
                Collection statistics. Populated on the single-collection detail view
                (`GET /v1/rag/collections/{name}`); omitted from the list view, which is
                intentionally lightweight and does not run per-collection counts.
    CollectionStatsResponse:
      type: object
      description: Collection statistics response
      required:
        - document_count
        - chunk_count
      properties:
        chunk_count:
          type: integer
          format: int64
          description: Total chunks across all documents
          minimum: 0
        document_count:
          type: integer
          format: int64
          description: Total documents in collection
          minimum: 0
        last_ingested_at:
          type:
            - string
            - "null"
          description: Last ingestion timestamp (RFC3339)
    ConfirmUploadRequest:
      type: object
      description: Request body for confirming uploads
      required:
        - batch_id
      properties:
        batch_id:
          type: string
          description: Batch ID from the presign response
    ConfirmUploadResponse:
      type: object
      description: Response from confirm endpoint
      required:
        - job_ids
        - status
      properties:
        job_ids:
          type: array
          items:
            type: string
          description: Job IDs that are now queued for processing
        status:
          type: string
          description: Status of the jobs
    ContentFilterConfig:
      type: object
      description: Content filtering configuration (headers, footers, watermarks).
      properties:
        include_footers:
          type: boolean
          description: Include running footers
        include_headers:
          type: boolean
          description: Include running headers
        include_watermarks:
          type: boolean
          description: Include watermarks
        strip_repeating_text:
          type: boolean
          description: Strip cross-page repeating text
    ContentLayer:
      type: string
      description: |-
        Content layer classification for document nodes.

        Replaces separate body/furniture arrays with per-node granularity.
      enum:
        - body
        - header
        - footer
        - footnote
    ContributorRole:
      type: object
      description: JATS contributor with role.
      required:
        - name
      properties:
        name:
          type: string
          description: Contributor display name.
        role:
          type:
            - string
            - "null"
          description: Contributor role (e.g. `"author"`, `"editor"`).
    CrawlChildJob:
      type: object
      description: A child extraction job spawned by a crawl job.
      required:
        - id
        - filename
        - status
      properties:
        body_bytes:
          type:
            - integer
            - "null"
          format: int64
          description: |-
            Raw body size in bytes of the source document fed to extraction.
            For HTML pages this is the rendered HTML length; for binary
            documents it is the downloaded file size. Lets callers detect
            suspiciously small responses (e.g. WAF challenge pages captured
            as the "document" — typically 5–30 KB).
          example: 18234
        filename:
          type: string
          description: Filename
          example: guide.pdf
        id:
          type: string
          format: uuid
          description: Job ID (queryable via GET /v1/jobs/{id})
          example: 550e8400-e29b-41d4-a716-446655440000
        processing_time_ms:
          type:
            - integer
            - "null"
          format: int64
          description: Processing time in ms (when completed)
          example: 1234
        result:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/ExtractedDocument'
              description: Extraction result (when completed)
        source_url:
          type:
            - string
            - "null"
          description: Source URL where this document was found
          example: https://example.com/docs/guide.pdf
        status:
          type: string
          description: Job status
          example: completed
      example:
        id: 550e8400-e29b-41d4-a716-446655440000
        source_url: https://example.com/docs/guide.pdf
        filename: guide.pdf
        status: completed
        processing_time_ms: 1234
    CrawlConfig:
      type: object
      description: Crawl policy configuration — controls URL crawling behavior.
      properties:
        allow_subdomains:
          type:
            - boolean
            - "null"
          description: 'Allow subdomains of the seed domain (default: true)'
          example: true
        allowed_file_types:
          type: array
          items:
            type: string
          description: 'MIME types of documents to extract (default: all supported by xberg)'
          example:
            - application/pdf
            - text/html
        browser:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BrowserOverrides'
              description: Browser rendering configuration overrides for this request
        bypass:
          oneOf:
            - type: "null"
            - $ref: '#/components/schemas/BypassRequestOverride'
              description: |-
                Per-request bypass override. When set, applies an external bypass
                provider to bypass WAF/antibot on the crawl.
        document_url_depth:
          type:
            - integer
            - "null"
          format: int32
          description: 'Max depth for URL-following from documents (default: 1, max: 3)'
          example: 1
          maximum: 3
          minimum: 0
        exclude_paths:
          type: array
          items:
            type: string
          description: Regex patterns — skip URLs matching these
          example:
            - /admin/.*
            - /login
[...]
